:root {
  --color-primary: #11161f;
  --color-primary-light: #090d12;
  --color-secondary: #c5945c;
  --color-light: #d8d7db;
  --bar-empty: #1e283a;
  --bar-color: #c5945c;
  --glow-width: 60px;
  --glow-radius: 10px;
  --glow-color: #2a366e;
}

/* General styles */

html {
  font-size: 12px;
}
body {
  background-color: var(--color-primary-light);
  color: var(--color-light);
  font-family: "Monda", Sans-Serif;
}
main {
  margin: 0 15px;
}
section {
  margin: 3rem 0;
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 12px;
  }
  main {
    margin: 0 30px;
  }
}
@media only screen and (min-width: 770px) {
  html {
    font-size: 14px;
  }
  main {
    margin: 0 50px;
  }
}
@media only screen and (min-width: 1300px) {
  html {
    font-size: 16px;
  }
  body {
    background: linear-gradient(
      to right,
      var(--color-primary-light) 0%,
      var(--color-primary-light) 77%,
      var(--color-primary) 23%
    );
  }
  main {
    width: 60%;
    margin: 0 70px;
  }
}
h1 {
  font-size: 4rem;
  font-family: "Julius Sans One", Sans-Serif;
  color: white;
  font-weight: bold;
  max-width: 340px;
}
@media only screen and (min-width: 770px) {
  h1 {
    font-size: 5rem;
  }
}
h2 {
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-bottom: 2rem;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  transition: 0.2s ease-out;
  color: white;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  width: 90%;
  margin: auto;
}

/* UTILITIES */

.button {
  background-color: var(--color-secondary);
  border-radius: 50px 50px 50px 50px;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 5px;
}
.button:hover {
  cursor: pointer;
  background-color: var(--color-primary);
  transition: 0.2s ease-out;
}
.nobullets {
  list-style: none;
  margin: 0;
  padding: 0;
}
.-small {
  font-size: 12px;
}

.-uppercase {
  text-transform: uppercase;
}
.-spacing {
  letter-spacing: 0.2em;
}
.-accent {
  color: var(--color-secondary);
}

/* Navigation Bar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-secondary);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
  z-index: 3;
}
@media screen and (min-height: 480px) {
  .sidenav {
    padding-top: 60px;
  }
}
@media screen and (min-height: 1300px) {
  .sidenav {
    overflow-x: auto;
  }
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  display: block;
}
.sidenav a:hover {
  color: var(--color-light);
  transition: 0.2s ease-out;
}
.sidenav a:active {
  text-decoration: underline;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  position: fixed;
  font-size: 30px;
  cursor: pointer;
  top: 0;
  left: 15px;
  width: 100%;
  z-index: 2;
}
.bottom-links {
  display: none;
}

@media only screen and (min-width: 1300px) {
  .openbtn,
  a.closebtn {
    display: none;
  }

  .sidenav {
    position: fixed;
    top: 38%;
    left: 85.5%;
    padding-top: 0;
    transition: 0s;
    background-color: transparent;
    width: fit-content;
    height: auto;
    z-index: 3;
  }
  .sidenav a {
    color: var(--color-secondary);
    padding: 8px;
  }

  .bottom-links {
    display: block;
    position: fixed;
    top: 90%;
    left: 85%;
    z-index: 3;
  }
}

/* Header */

.content-wrapper {
  position: relative;
  top: 30vh;
  z-index: 1;
  left: 12vh;
  width: fit-content;
}

header {
  height: 95vh;
}

header h2 {
  margin-left: 15px;
}

header h2::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 35px;
  background: var(--color-secondary);
  left: -0.1rem;
}

header h1 span {
  text-decoration: underline;
  color: var(--color-secondary);
}

@media only screen and (min-width: 500px) {
}
@media only screen and (min-width: 1300px) {
  .content-wrapper {
    left: 20vh;
  }
}

/* About Section */

.box-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}
.box-container p {
  text-align: justify;
  text-justify: inter-word;
}

.portrait {
  width: 300px;
  padding: 2rem;
  height: auto;
  z-index: 0;
}
.portrait img {
  border-radius: 50%;
}

/* Portfolio Section */

.portfolio-item {
  width: 80%;
  margin: 40px auto;
  height: auto;
  display: block;
}
@media only screen and (min-width: 1300px) {
  .portfolio-item {
    width: 80%;
    margin: 40px auto;
    height: auto;
    display: block;
  }
}

/* Skills Section */

.skills-container {
  width: 80%;
  margin: 0 auto;
}
.skills-container img {
  width: 80px;
  height: 80px;
  display: inline;
}

/* Contact Section */

#contact {
  background-color: var(--color-primary);
  padding: 1.5rem 3rem;
  color: var(--color-light);
  width: fit-content;
  margin: 0 auto;
}
.contact-info li {
  padding-bottom: 0.3rem;
}

/* Footer Section */

footer {
  padding-top: 20px;
}
.copyright {
  margin-top: 20px;
}
