:root {
  --color-primary: #11161f;
  --color-primary-light: #090d12;
  --color-secondary: #c5945c;
  --color-light: #d8d7db;
}

/* General styles */

html {
  font-size: 12px;
}
body {
  background-color: var(--color-primary-light);
  color: var(--color-light);
  font-family: "Monda", Sans-Serif;
}
main,
footer {
  margin: 0 15px;
}
section {
  margin: 0rem 0 8rem 0;
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 12px;
  }
  main,
  footer {
    margin: 0 30px;
  }
}
@media only screen and (min-width: 770px) {
  html {
    font-size: 14px;
  }
  main,
  footer {
    margin: 0 50px;
  }
}
@media only screen and (min-width: 1300px) {
  html {
    font-size: 16px;
  }
  body {
    background: linear-gradient(
      to right,
      var(--color-primary-light) 0%,
      var(--color-primary-light) 77%,
      var(--color-primary) 23%
    );
  }
  main,
  footer {
    width: 60%;
    margin: 0 70px;
  }
}
h1 {
  font-size: 3.5rem;
  font-family: "Julius Sans One", Sans-Serif;
  font-weight: bold;
  max-width: 340px;
  margin-bottom: 1.2rem;
}
@media only screen and (min-width: 770px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  text-transform: uppercase;
  color: var(--color-secondary);
  /*   margin: 8rem 0 5rem 0; */
}

h3 {
  margin: 3rem 0;
}

a {
  text-decoration: none;
  transition: 0.2s ease-out;
  cursor: pointer;
  display: inline-block;
  color: inherit;
}

a:hover {
  transform: translateX(0.6rem);
}
a:active,
a:focus {
  color: var(--color-light);
}
.container {
  width: 90%;
  margin: auto;
}
.subcontainer {
  width: 80%;
  margin: 30px auto;
}

/* UTILITIES */

.nobullets {
  list-style: none;
  margin: 0;
  padding: 0;
}
.-small {
  font-size: 12px;
}

.-uppercase {
  text-transform: uppercase;
}
.-spacing {
  letter-spacing: 0.2em;
}
.-accent {
  color: var(--color-secondary);
}

/* Navigation Bar */

#nav-icon {
  width: 2rem;
  height: 1.125rem;
  position: fixed;
  top: 20px;
  left: 18px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--color-light);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 9px;
  width: 80%;
}

#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon.open span:nth-child(1),
#nav-icon.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-secondary);
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 3;
  padding-top: 30vh;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  display: block;
  font-size: 20px;
}

.bottom-links {
  display: none;
}

@media only screen and (min-width: 1300px) {
  #nav-icon {
    display: none;
  }

  .sidenav {
    position: fixed;
    top: 38%;
    left: 85.5%;
    padding-top: 0;
    padding-left: 0;
    background-color: transparent;
    width: fit-content !important;
    height: auto;
    z-index: 3;
    transition: 0s;
  }
  .sidenav a {
    color: var(--color-secondary);
    padding: 8px;
    font-size: 12px;
  }

  .bottom-links {
    display: block;
    position: fixed;
    top: 90%;
    left: 85%;
    z-index: 3;
  }
}

/* Header */

.content-wrapper {
  position: relative;
  top: 30vh;
  left: 10vw;
  width: fit-content;
}

header {
  height: 100vh;
}

header h2 {
  margin: 35px 12px;
}

header h2::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 35px;
  background: var(--color-secondary);
  left: -0.1rem;
}

/* About Section */

.presentation {
  display: flex;
  flex-wrap: wrap;
}
.presentation p {
  text-align: justify;
}

.portrait {
  padding: 1.5rem;
  width: 300px;
  height: auto;
  margin: 0 auto;
}
.portrait img {
  border-radius: 50%;
  max-width: 100%;
}

/* Portfolio Section */

.portfolio-item {
  margin: 60px auto;
  height: auto;
  display: block;
}

.iframe-container {
  height: 80vh;
}
iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
/* Skills Section */

.skills-container img {
  display: inline;
  width: 60px;
  height: 60px;
}

@media screen and (min-width: 900px) {
  .skills-container img {
    width: 80px;
    height: 80px;
  }
}
/* Contact Section */

.contact-container ul {
  display: flex;
  flex-wrap: wrap;
}
.contact-container li {
  margin: 0 10px;
  min-width: 15rem;
}
